.upload-spinner {
  padding-right: 0.5em;
}
#progress .progress-bar {
  text-align: left !important;
}
.draganddropdesc {
  margin-top: 1em;
  margin-bottom: 1em;
}
#contentview-upload .icon-upload:before {
  font-family: "Glyphicons Halflings";
  content: "\e027";
}
.file-fail {
  display: block;
}
.chunksize_descriptor {
  background-color: #eee;
  padding: 2px;
}
.filedelete-button {
  text-decoration: none;
}
.fileinput-button:hover,
.fileinput-button:focus {
  color: #fff !important;
  text-decoration: none;
}
.template-chunkedfile-view .fileinput-button,
.template-chunkedfile-view .filedelete-button,
#files .btn {
  color: #ffffff;
}
#content a.delete,
#content a.delete:hover {
  font-size: 85%;
  padding: 0.5em;
  color: white;
}
#content ul#chunked_listing {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}
#upload-folder-listing p {
  padding-top: 1em;
}
/* add menu drop down */
#chunkedfile {
  display: none !important;
}
.container {
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
}
#chunked_listing .glyphicon-warning-sign {
  color: #EC9923;
  padding-right: 0.25em;
}
#chunked_listing .contenttype-chunkedfile {
  line-height: 1.5em;
}
span.glyphicon-ok {
  color: #5CB85C !important;
}
span.glyphicon-remove {
  color: #FF0000 !important;
}
#chunked_listing li a {
  border-bottom: none !important;
}
#chunked_listing li a span {
  border-bottom: 1px solid #ccc;
}
#dropzone {
  display: none;
}
#dropzone.in {
  display: block;
  opacity: 0.6;
  position: fixed;
  width: 100%;
  height: 100%;
  font-size: 300%;
  text-align: center;
  font-weight: bold;
  color: black;
  top: 0;
  left: 0;
  z-index: 1000;
  padding-top: 10%;
}
#dropzone.hover {
  background: #ccc;
}
/* from dataexchange for now */
#upload_listing th {
  background-color: #dddddd;
}
input.buttonToggler {
  background: none;
  border-style: none;
  color: #205C90 !important;
}
input.buttonToggler:hover {
  cursor: pointer;
}
#upload_listing .summary a {
  text-decoration: none;
  border-bottom: 0.1em solid #ccc;
}
#upload_listing td,
#upload_listing th,
#activity_table td,
#activity_table th {
  padding: 0.5em 1em;
  border-style: none;
}
#upload_listing th.borderedHeader {
  border-left: 1px solid white !important;
}
.fileinput-button input {
  color: white;
}
#upload_listing tbody tr.odd td,
#activity_table tbody tr.odd td {
  background: none repeat scroll 0 0 #EEEEEE;
}
#portal-header .btn-default {
  background-color: #e5e5e5;
  border-color: #b2b2b2;
  color: #4d4d4d;
  -moz-user-select: none;
  background-image: none;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.42857;
  margin-bottom: 0;
  padding: 6px 12px;
  text-align: center;
  text-shadow: 0 1px rgba(0, 0, 0, 0.25);
  vertical-align: middle;
  white-space: nowrap;
}
.upload-listing-item span {
  padding-left: 0.5em;
}
.uploadForm .text-danger {
  color: #a94442;
  font-weight: bold;
}
/*# sourceMappingURL=upload.css.map */